html
  head
    link(rel="stylesheet", href="/static/style.css")
    script(src='/static/navigation.js')
    script(src='/static/frontend.js')
    script(src='/static/fullcalendar/jquery.min.js')
    title= title
  body
    ul
      li
        a(id='goToDienstplan' onclick='goToDienstplan()') Dienstplan erstellen
      li
        a(id='goToWuensche' onclick='goToWuensche()') Wunsch einreichen
      li
        a(id='goToAbwesenheiten' onclick='goToAbwesenheiten()') Abwesenheit einreichen
      li
        a(id='goToMitarbeiter' onclick='goToMitarbeiter()') Mitarbeiter anlegen
    table#mitarbeiter
        thead
                tr 
                    td Ersatzeintragung
                    td Informationen
        each ersatzeintragung,i in ersatzeintragungen
             tbody(id=i)
                    tr 
                        td Station ID 
                        td=ersatzeintragung.stationID
                    tr   
                        td Mitarbeiter ID 
                        td=ersatzeintragung.mitarbeiterID
                    tr   
                        td Abwesenheitsmeldung ID 
                        td=ersatzeintragung.abwesenheitsmeldungID
                    tr
                        td Datum der Übernahme 
                        td=ersatzeintragung.datumUebernahme
                    tr
                        td Art der Schicht 
                        td=ersatzeintragung.schichtArt
                    