html
  head
    link(rel="stylesheet", href="/static/style.css")
    title= title
  body
    table#mitarbeiter
        tr 
            td Vorname 
            td= vorname
        tr
            td Name 
            td= name
        
        tr  
            td Rolle 
            td= rolle 
        tr  
            td Beschaeftigungsart 
            td= beschaeftigungsArt
        tr  
            td Bescheaftigungsbeginn 
            td= beschaeftigungsBeginn
        tr 
            td Ueberstunden 
            td= ueberstunden
       
